<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="init_integration.php" colors="true" backupGlobals="true">

    <testsuites>
        <testsuite name="Facebook AdsAPI PHP SDK">
            <directory>./FacebookAdsTest</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">../src</directory>
        </include>
    </coverage>

    <logging>
        <log type="coverage-text" target="php://stdout"/>
        <log type="coverage-html" target="report/"/>
    </logging>

</phpunit>
